<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>操作日志</v-card-title>
        <v-data-table
          :headers="logsHeaders"
          :items="logs"
          :options.sync="tableOptions"
          :server-items-length="count"
          disable-sort
          :footer-props="{ itemsPerPageOptions: [10, 25, 50] }"
          :loading="$fetchState.pending"
        >
          <template #[`item.id`]="{ item }">
            <span class="uuid-display">{{ item.id }}</span>
          </template>
          <template #[`item.type`]="{ item }">
            <code>{{ item.type }}</code>
          </template>
          <template #[`item.details`]="{ item }">
            <code>{{ item.details }}</code>
          </template>
          <template #[`item.ts`]="{ item }">
            {{ new Date(item.ts).toLocaleString() }}
          </template>
          <template #[`item.user`]="{ item }">
            <template v-if="item.user">
              {{ item.user.name }}
            </template>
            <template v-else>系统操作</template>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { get } from 'vuex-pathify'
import { getUserType } from '~/misc/userType'

export default Vue.extend({
  name: 'Logs',
  data: () => ({
    logs: [],
    count: 0,
    logsHeaders: [
      { text: 'ID', value: 'id' },
      { text: '类型', value: 'type' },
      { text: '参数', value: 'details' },
      { text: '结果', value: 'result' },
      { text: '时间戳', value: 'ts' },
      { text: '操作用户', value: 'user' }
    ],
    tableOptions: {
      page: 1,
      itemsPerPage: 10
    }
  }),
  async fetch() {
    await this.$toast.$wrap(async () => {
      const { page, itemsPerPage } = this.tableOptions
      const take = itemsPerPage
      const skip = (page - 1) * take
      const [logs, count] = await this.$axios.$get('/user/log/', {
        params: { skip, take }
      })
      this.logs = logs
      this.count = count
    })
  },
  head: {
    title: '操作日志'
  },
  computed: {
    self: get('user')
  },
  watch: {
    tableOptions: {
      handler() {
        this.$fetch()
      },
      deep: true
    }
  },
  methods: {
    getUserType
  }
})
</script>
