<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <template v-if="$fetchState.pending">
          <v-skeleton-loader type="article" />
        </template>
        <template v-else-if="$fetchState.error">
          <error-card :error="$fetchState.error" @reload="$fetch" />
        </template>
        <template v-else>
          <v-card-title>
            <template v-if="isNew">新增设备</template>
            <template v-else>
              设备: {{ device.name }}
              <v-spacer />
              <online-indicator :id="device.id" v-model="online" />
            </template>
          </v-card-title>
          <v-card-text>
            <v-text-field v-if="!isNew" :value="device.id" readonly label="ID" />
            <v-text-field v-model.trim="device.name" label="Name" />
            <v-text-field v-model.trim="device.ip" label="IP" />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="primary" @click="save">保存</v-btn>
            <v-btn color="warning" @click="$fetch">取消</v-btn>
            <v-btn v-if="!isNew" color="error" @click="remove">刪除</v-btn>
          </v-card-actions>
        </template>
      </v-card>
    </v-col>
    <template v-if="!$fetchState.pending && !isNew">
      <v-col cols="12">
        <v-card>
          <v-card-title>操作</v-card-title>
          <v-card-text>
            <async-btn :handler="killPS" outlined color="primary">关闭打印站点</async-btn>
            <async-btn :handler="startexplorer" outlined color="primary">打开系统界面</async-btn>
            <async-btn :handler="ping" outlined color="primary">乒</async-btn>
            <async-btn :handler="() => setpsd(false)" outlined color="error">停止进程守护</async-btn>
            <async-btn :handler="() => setpsd(true)" outlined color="success">开始进程守护</async-btn>
            <async-btn :handler="relaunch" outlined color="warning">重启客户端</async-btn>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            截图
            <v-spacer />
            <v-btn icon @click="screenshot.auto = !screenshot.auto">
              <v-icon>{{ screenshot.auto ? 'mdi-pause' : 'mdi-play' }}</v-icon>
            </v-btn>
            <v-btn icon :loading="screenshot.loading" @click="loadScreenshot">
              <v-icon>mdi-reload</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-row justify="center">
              <v-col cols="auto">
                <template v-if="screenshot.img">
                  <v-img :src="screenshot.img" />
                </template>
                <template v-else>点击刷新以加载截图</template>
              </v-col>
            </v-row>
          </v-card-text>
          <v-divider />
        </v-card>
      </v-col>
      <template v-if="user.level >= 127">
        <v-col cols="12">
          <v-card>
            <v-card-title>
              开发者
              <v-spacer />
            </v-card-title>
            <v-tabs v-model="dev.tab">
              <v-tab :key="0">高级操作</v-tab>
              <v-tab :key="1">Exec</v-tab>
              <v-tab :key="2">ExecBat</v-tab>
              <v-tab :key="3">Eval</v-tab>
            </v-tabs>
            <v-tabs-items v-model="dev.tab" touchless>
              <!-- Advanced -->
              <v-tab-item :key="0">
                <v-card-text>
                  <async-btn :handler="appupgrade" outlined color="primary">升级</async-btn>
                  <async-btn :handler="quit" outlined color="error">退出</async-btn>
                  <async-btn :handler="() => execCmdWrapper('shutdown /f /r /t 0')" outlined>重启</async-btn>
                  <async-btn
                    :handler="
                      () =>
                        execCmd('type %appdata%\\zpm-desktop\\logs\\main.log').then(({ stdout }) =>
                          downloadTxt(stdout, 'main.log')
                        )
                    "
                    outlined
                  >
                    下载主进程日志
                  </async-btn>
                  <async-btn
                    :handler="
                      () =>
                        execCmd('type %appdata%\\zpm-desktop\\logs\\renderer.log').then(({ stdout }) =>
                          downloadTxt(stdout, 'renderer.log')
                        )
                    "
                    outlined
                  >
                    下载渲染进程日志
                  </async-btn>
                  <async-btn :handler="() => execCmdWrapper('del %appdata%\\zpm-desktop\\logs\\main.log')" outlined>
                    删除主进程日志
                  </async-btn>
                  <async-btn :handler="() => execCmdWrapper('del %appdata%\\zpm-desktop\\logs\\renderer.log')" outlined>
                    删除渲染进程日志
                  </async-btn>
                </v-card-text>
              </v-tab-item>

              <!--  Exec -->
              <v-tab-item :key="1">
                <template v-if="dev.tab === 1">
                  <monaco-editor v-model="dev.exec.cmd" language="bat" class="editor-input" />
                  <v-card-actions>
                    <v-row>
                      <v-col cols="4">
                        <v-btn block outlined :ripple="false" @click="downloadTxt(dev.exec.stdout, 'stdout.txt')">
                          <v-icon>mdi-download</v-icon>
                          Stdout
                        </v-btn>
                      </v-col>
                      <v-col cols="4">
                        <v-btn color="primary" block outlined :loading="dev.exec.loading" :ripple="false" @click="devExec">
                          <v-icon>mdi-send</v-icon>
                          Execute
                        </v-btn>
                      </v-col>
                      <v-col cols="4">
                        <v-btn block outlined :ripple="false" @click="downloadTxt(dev.exec.stderr, 'stderr.txt')">
                          <v-icon>mdi-download</v-icon>
                          Stderr
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card-actions>
                  <v-card-text>
                    Process exited with
                    <template v-if="dev.exec.signal"> signal {{ dev.exec.signal }} </template>
                    <template v-else> code {{ dev.exec.code }} </template>
                  </v-card-text>
                  <v-row no-gutters>
                    <v-col cols="6">
                      <monaco-editor v-model="dev.exec.stdout" language="txt" :readonly="true" class="editor-output" />
                    </v-col>
                    <v-col cols="6">
                      <monaco-editor v-model="dev.exec.stderr" language="txt" :readonly="true" class="editor-output" />
                    </v-col>
                  </v-row>
                </template>
              </v-tab-item>

              <!-- ExecBat -->
              <v-tab-item :key="2">
                <template v-if="dev.tab === 2">
                  <monaco-editor v-model="dev.execbat.cmd" language="bat" class="editor-input" />
                  <v-card-actions>
                    <v-row>
                      <v-col cols="4">
                        <v-btn block outlined :ripple="false" @click="downloadTxt(dev.execbat.stdout, 'stdout.txt')">
                          <v-icon>mdi-download</v-icon>
                          Stdout
                        </v-btn>
                      </v-col>
                      <v-col cols="4">
                        <v-btn
                          color="primary"
                          block
                          outlined
                          :loading="dev.execbat.loading"
                          :ripple="false"
                          @click="devExecBat"
                        >
                          <v-icon>mdi-send</v-icon>
                          Execute
                        </v-btn>
                      </v-col>
                      <v-col cols="4">
                        <v-btn block outlined :ripple="false" @click="downloadTxt(dev.execbat.stderr, 'stderr.txt')">
                          <v-icon>mdi-download</v-icon>
                          Stderr
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card-actions>
                  <v-card-text>
                    Process exited with
                    <template v-if="dev.execbat.signal"> signal {{ dev.execbat.signal }} </template>
                    <template v-else> code {{ dev.execbat.code }} </template>
                  </v-card-text>
                  <v-row no-gutters>
                    <v-col cols="6">
                      <monaco-editor v-model="dev.execbat.stdout" language="txt" :readonly="true" class="editor-output" />
                    </v-col>
                    <v-col cols="6">
                      <monaco-editor v-model="dev.execbat.stderr" language="txt" :readonly="true" class="editor-output" />
                    </v-col>
                  </v-row>
                </template>
              </v-tab-item>

              <!-- Eval -->
              <v-tab-item :key="3">
                <template v-if="dev.tab === 3">
                  <monaco-editor v-model="dev.eval.code" language="javascript" class="editor-input" />
                  <v-card-actions>
                    <v-btn color="primary" block outlined :loading="dev.eval.loading" @click="devEval">
                      <v-icon>mdi-send</v-icon>
                      Evalute
                    </v-btn>
                  </v-card-actions>
                  <monaco-editor v-model="dev.eval.result" language="javascript" :readonly="true" class="editor-output" />
                </template>
              </v-tab-item>
            </v-tabs-items>
          </v-card>
        </v-col>
      </template>
    </template>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { get } from 'vuex-pathify'
import AsyncBtn from '~/components/utils/AsyncBtn.vue'
import OnlineIndicator from '~/components/utils/OnlineIndicator.vue'
import MonacoEditor from '~/components/editor/MonacoEditor'
import ErrorCard from '~/components/app/ErrorCard.vue'

const init = (): any => ({
  name: 'some device',
  ip: '127.0.0.1'
})

const defaultBat = `@chcp 65001
@echo off
dir`

const defaultCmd = `dir`

const defaultCode = `const output = []
const log = (msg) => output.push(msg)

log('Hello world!')
log(wm.getWindows().map(x => x.id).join(','))
log(process.pid)

return output
`

export default Vue.extend<any, any, any>({
  name: 'Device',
  components: { AsyncBtn, OnlineIndicator, MonacoEditor, ErrorCard },
  data: () => ({
    device: init(),
    loading: false,
    online: false,
    screenshot: { loading: false, img: '', auto: false },
    dev: {
      exec: { loading: false, cmd: defaultCmd, stdout: '', stderr: '', code: 0, signal: '' },
      execbat: { loading: false, cmd: defaultBat, stdout: '', stderr: '', code: 0, signal: '' },
      eval: { loading: false, code: defaultCode, result: '' },
      tab: 0
    }
  }),
  async fetch() {
    const id = this.$route.params.id
    if (id === 'new') {
      this.device = init()
    } else {
      this.device = await this.$axios.$get(`/user/device/${id}`)
    }
  },
  computed: {
    isNew() {
      return !this.device.id
    },
    user: get('user')
  },
  watch: {
    $route() {
      this.$fetch()
    }
  },
  created() {
    const id = setInterval(() => {
      if (this.online && this.screenshot.auto) {
        this.loadScreenshot()
      }
    }, 2000)
    this.$on('hook:beforeDestroy', () => {
      clearInterval(id)
    })
  },
  methods: {
    async save() {
      this.loading = true
      await this.$toast.$wrap(async () => {
        if (this.isNew) {
          const id = await this.$axios.$post(`/user/device/`, {
            name: this.device.name,
            ip: this.device.ip
          })
          await this.$router.push(`/device/${id}`)
        } else {
          await this.$axios.$put(`/user/device/${this.device.id}`, {
            name: this.device.name,
            ip: this.device.ip
          })
        }
        return ''
      })
      this.loading = false
    },
    async remove() {
      this.loading = true
      await this.$toast.$wrap(async () => {
        await this.$axios.$delete(`/user/device/${this.device.id}`)
        await this.$router.replace('/device')
        return ''
      })
      this.loading = false
    },
    async killPS() {
      const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/killps`, {})
      if (!ok) throw new Error(result)
      return result ? '成功关闭打印站点' : '打印站点未开启'
    },
    async startexplorer() {
      const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/startexplorer`, {})
      if (!ok) throw new Error(result)
      return result ? '成功启动' : '启动失败'
    },
    async loadScreenshot() {
      if (this.screenshot.loading) return
      this.screenshot.loading = true
      await this.$toast.$wrap(async () => {
        const { ok, result } = await this.$axios.$get(`/user/operations/device/${this.device.id}/screenshot`)
        if (!ok) throw new Error(result)
        this.screenshot.img = `data:image/jpg;base64,${result}`
      })
      this.screenshot.loading = false
    },
    async devExec() {
      this.dev.exec.loading = true
      this.dev.exec.stdout = this.dev.exec.stderr = ''
      await this.$toast.$wrap(async () => {
        const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/exec`, {
          command: this.dev.exec.cmd
        })
        if (!ok) throw new Error(result)
        this.dev.exec.stdout = result.stdout
        this.dev.exec.stderr = result.stderr
        this.dev.exec.code = result.code ?? 0
        this.dev.exec.signal = result.signal ?? ''
      })
      this.dev.exec.loading = false
    },
    async devExecBat() {
      this.dev.execbat.loading = true
      this.dev.execbat.stdout = this.dev.execbat.stderr = ''
      await this.$toast.$wrap(async () => {
        const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/execbat`, {
          code: this.dev.execbat.cmd
        })
        if (!ok) throw new Error(result)
        this.dev.execbat.stdout = result.stdout
        this.dev.execbat.stderr = result.stderr
        this.dev.execbat.code = result.code ?? 0
        this.dev.execbat.signal = result.signal ?? ''
      })
      this.dev.execbat.loading = false
    },
    async devEval() {
      this.dev.eval.loading = true
      this.dev.eval.result = ''
      await this.$toast.$wrap(async () => {
        const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/eval`, {
          code: this.dev.eval.code
        })
        if (!ok) throw new Error(result)
        this.dev.eval.result = JSON.stringify(result, null, '  ') ?? 'undefined'
      })
      this.dev.eval.loading = false
    },
    async ping() {
      const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/ping`, {})
      if (!ok) throw new Error(result)
      return `客户端版本：${result.ver}`
    },
    async setpsd(enabled: boolean) {
      const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/setpsd`, { enabled })
      if (!ok) throw new Error(result)
      return `当前状态：${result ? '开启' : '关闭'}`
    },
    async appupgrade() {
      const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/appupgrade`, {})
      if (!ok) throw new Error(result)
      return result ? '开始更新' : '无更新'
    },
    async relaunch() {
      const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/relaunch`, {})
      if (!ok) throw new Error(result)
      return ''
    },
    async quit() {
      const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/quit`, {})
      if (!ok) throw new Error(result)
      return ''
    },
    async execCmd(command: string) {
      const { ok, result } = await this.$axios.$post(`/user/operations/device/${this.device.id}/exec`, {
        command
      })
      if (!ok) throw new Error(result)
      return result
    },
    async execCmdWrapper(command: string) {
      await this.execCmd(command)
      return ''
    },
    downloadTxt(str: string, filename: string) {
      const mime = 'application/octet-stream'
      const blob = new Blob([str], { type: mime })
      const a = document.createElement('a')
      a.download = filename
      a.href = URL.createObjectURL(blob)
      a.dataset.downloadurl = [mime, a.download, a.href].join(':')
      a.style.display = 'none'
      document.body.appendChild(a)
      a.click()
      document.body.removeChild(a)
    }
  }
})
</script>

<style lang="scss" scoped>
.editor-input {
  height: 200px;
}
.editor-output {
  height: 200px;
}
</style>
