<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>
          设备
          <v-spacer />
          <v-btn color="primary" to="/device/new" depressed>
            <v-icon left>mdi-plus</v-icon>
            新增设备
          </v-btn>
        </v-card-title>
        <v-data-table :headers="devicesHeaders" :items="devices">
          <template #[`item.id`]="{ item }">
            <nuxt-link :to="'/device/' + item.id" class="uuid-display">
              {{ item.id }}
            </nuxt-link>
          </template>
          <template #[`item._status`]="{ item }">
            <online-indicator :id="item.id" />
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { get } from 'vuex-pathify'
import OnlineIndicator from '~/components/utils/OnlineIndicator.vue'

export default Vue.extend({
  name: 'Devices',
  components: { OnlineIndicator },
  data: () => ({
    devices: [],
    count: 0,
    devicesHeaders: [
      { text: 'ID', value: 'id' },
      { text: '名称', value: 'name' },
      { text: 'IP', value: 'ip' },
      { text: '状态', value: '_status' }
    ]
  }),
  async fetch() {
    await this.$toast.$wrap(async () => {
      const [devices, count] = await this.$axios.$get('/user/device/')
      this.devices = devices
      this.count = count
    })
  },
  computed: {
    self: get('user')
  }
})
</script>
