<template>
  <v-col class="text-center" cols="12">
    <nuxt-link to="/changelog">更新日志</nuxt-link>
    -
    <nuxt-link to="/help">帮助</nuxt-link>
    -
    <strong>ZhangZisu</strong>&copy;{{ new Date().getFullYear() }}
    -
    <a class="copyright-text" @click="copyrightClick">All rights reserved</a>
  </v-col>
</template>

<script lang="ts">
import Vue from 'vue'
import { isElectron, safeInvoke } from '~/misc/electron'

export default Vue.extend({
  name: 'AppFooter',
  methods: {
    copyrightClick() {
      if (isElectron()) {
        safeInvoke('openDevTools')
      } else {
        window.open('https://zzisu.dev')
      }
    }
  }
})
</script>

<style scoped>
.copyright-text {
  font-size: 0.7em;
}
</style>
