<template>
  <v-list nav dense>
    <v-list-item to="/" nuxt>
      <v-list-item-avatar tile size="24">
        <v-icon>mdi-home</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>首页</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item to="/device" nuxt>
      <v-list-item-avatar tile size="24">
        <v-icon>mdi-monitor</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>设备</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item to="/user" nuxt>
      <v-list-item-avatar tile size="24">
        <v-icon>mdi-account-multiple</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>用户</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item to="/log" nuxt>
      <v-list-item-avatar tile size="24">
        <v-icon>mdi-calendar-alert</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>事件</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'AppNav'
})
</script>
