<template>
  <v-system-bar app window style="-webkit-app-region: drag" dark>
    <v-spacer />
    镇海中学打印机管理系统
    <v-spacer />
    <v-btn text style="-webkit-app-region: no-drag" @click="minimize">
      <v-icon class="ma-0">mdi-minus</v-icon>
    </v-btn>
    <v-btn text style="-webkit-app-region: no-drag" @click="maximize">
      <v-icon class="ma-0">mdi-plus</v-icon>
    </v-btn>
    <v-btn text style="-webkit-app-region: no-drag" color="error" @click="close">
      <v-icon class="ma-0">mdi-close</v-icon>
    </v-btn>
  </v-system-bar>
</template>

<script lang="ts">
import Vue from 'vue'
import { safeInvoke } from '~/misc/electron'

export default Vue.extend({
  name: 'AppSystemBar',
  methods: {
    minimize() {
      safeInvoke('minimize')
    },
    maximize() {
      safeInvoke('maximize')
    },
    close() {
      safeInvoke('close')
    }
  }
})
</script>
