<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title v-if="isNew">新增用户</v-card-title>
        <v-card-title v-else>用户: {{ user.name }}</v-card-title>
        <v-divider />
        <v-card-text>
          <v-text-field v-if="!isNew" :value="user.id" readonly label="ID" />
          <v-text-field v-model.trim="user.name" label="姓名" />
          <v-text-field v-model.trim="user.login" label="登录名" />
          <v-slider v-if="!isSelf" v-model="user.level" :min="0" :max="self.level - 1" :label="getUserType(user.level)" />
          <v-switch v-model="user.disabled" label="禁用" />
          <v-text-field v-model.trim="pass" label="密码" type="password" />
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" :disabled="isNew && !pass" @click="save"> 保存 </v-btn>
          <v-btn color="warning" @click="$fetch">取消</v-btn>
          <v-btn v-if="!isNew" color="error" @click="remove">删除</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col v-if="!isNew" cols="12">
      <v-card>
        <v-card-title>令牌</v-card-title>
        <v-divider />
        <v-data-table :items="user.tokens" :headers="tokenHeaders">
          <template #[`item.created`]="{ item }">
            {{ new Date(item.created).toLocaleString() }}
          </template>
          <template #[`item._actions`]="{ item }">
            <v-btn icon @click="removeToken(item.id)">
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </template>
        </v-data-table>
        <v-divider />
        <v-card-text>
          <v-subheader>添加令牌</v-subheader>
          <v-text-field v-model="newToken.name" label="描述" />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" @click="addToken">添加</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { get } from 'vuex-pathify'
import { getUserType } from '~/misc/userType'
import { saveToken } from '~/misc/misc'

const init = (): any => ({
  name: 'some user',
  login: 'user',
  level: 0,
  disabled: false
})

export default Vue.extend({
  name: 'User',
  data: () => ({
    user: init(),
    pass: '',
    loading: false,
    tokenHeaders: [
      { text: '描述', value: 'name' },
      { text: '创建于', value: 'created' },
      { text: '操作', value: '_actions' }
    ],
    newToken: {
      name: ''
    }
  }),
  async fetch() {
    const id = this.$route.params.id
    if (id === 'new') {
      this.user = init()
    } else {
      this.user = await this.$axios.$get(`/user/user/${id}`)
    }
    this.pass = ''
  },
  computed: {
    isNew() {
      return !this.user.id
    },
    isSelf() {
      return this.$route.params.id === this.self.id
    },
    self: get('user')
  },
  watch: {
    $route() {
      this.$fetch()
    }
  },
  methods: {
    async save() {
      this.loading = true
      await this.$toast.$wrap(async () => {
        const body: any = {
          name: this.user.name,
          login: this.user.login,
          level: this.user.level,
          disabled: this.user.disabled
        }
        if (this.pass) {
          body.pass = this.pass
        }
        if (this.isNew) {
          const id = await this.$axios.$post(`/user/user/`, body)
          await this.$router.push(`/user/${id}`)
        } else {
          await this.$axios.$put(`/user/user/${this.user.id}`, body)
        }
        return ''
      })
      this.loading = false
    },
    async remove() {
      this.loading = true
      await this.$toast.$wrap(async () => {
        await this.$axios.$delete(`/user/user/${this.user.id}`)
        await this.$router.replace('/user')
        return ''
      })
      this.loading = false
    },
    async removeToken(id: string) {
      this.loading = true
      await this.$toast.$wrap(async () => {
        await this.$axios.$delete(`/user/user/${this.user.id}/token/${id}`)
        const i = this.user.tokens.findIndex((x: any) => x.id === id)
        if (i !== -1) this.user.tokens.splice(i, 1)
        return ''
      })
      this.loading = false
    },
    async addToken() {
      this.loading = true
      const body = {
        name: this.newToken.name
      }
      await this.$toast.$wrap(async () => {
        const [id, token] = await this.$axios.$post(`/user/user/${this.user.id}/token`, body)
        saveToken(token)
        this.user.tokens.push({
          id,
          name: this.newToken.name,
          created: Date.now()
        })
        return ''
      })
      this.newToken.name = ''
      this.loading = false
    },
    getUserType
  }
})
</script>
