<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>
          用户列表
          <v-spacer />
          <v-btn color="primary" to="/user/new" depressed>
            <v-icon left>mdi-plus</v-icon>
            新增用户
          </v-btn>
        </v-card-title>
        <v-data-table :headers="usersHeaders" :items="users">
          <template #[`item.id`]="{ item }">
            <template v-if="item.level < self.level || item.id === self.id">
              <nuxt-link :to="'/user/' + item.id" class="uuid-display">
                {{ item.id }}
              </nuxt-link>
            </template>
            <template v-else>无法查看</template>
          </template>
          <template #[`item.level`]="{ item }">
            {{ getUserType(item.level) }}
          </template>
          <template #[`item.disabled`]="{ item }">
            <v-chip label outlined :color="item.disabled ? 'red' : 'green'">
              {{ item.disabled ? '禁用' : '启用' }}
            </v-chip>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { get } from 'vuex-pathify'
import { getUserType } from '~/misc/userType'

export default Vue.extend({
  name: 'Users',
  data: () => ({
    users: [],
    count: 0,
    usersHeaders: [
      { text: 'ID', value: 'id' },
      { text: '姓名', value: 'name' },
      { text: '登录名', value: 'login' },
      { text: '类型', value: 'level' },
      { text: '状态', value: 'disabled' }
    ]
  }),
  async fetch() {
    await this.$toast.$wrap(async () => {
      const [users, count] = await this.$axios.$get('/user/user/')
      this.users = users
      this.count = count
    })
  },
  computed: {
    self: get('user')
  },
  methods: {
    getUserType
  }
})
</script>
