<template>
  <v-chip :color="online ? 'green' : 'red'" dark>
    {{ online ? '在线' : '离线' }}
  </v-chip>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'OnlineIndicator',
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    id: {
      type: String,
      required: true
    },
    value: {
      type: Boolean
    }
  },
  data: () => ({
    loading: false,
    online: false,
    timeout: null as any,
    destroyed: false
  }),
  created() {
    this.check()
  },
  beforeDestroy() {
    this.timeout && clearTimeout(this.timeout)
    this.destroyed = true
  },
  methods: {
    async check() {
      if (this.destroyed) return
      this.loading = true
      try {
        this.online = await this.$axios.$get(`/user/device/${this.id}/online`)
      } catch (e) {
        this.online = false
      }
      this.$emit('change', this.online)
      this.loading = false
      this.timeout = setTimeout(this.check.bind(this), 2000)
    }
  }
})
</script>
