<template>
  <v-app>
    <app-system-bar v-if="$store.state.isElectron" />
    <v-app-bar app dark>
      <v-app-bar-nav-icon @click="nav = !nav" />
      镇海中学打印机管理系统
      <v-spacer />
      <v-menu offset-y>
        <template #activator="{ on, attrs }">
          <v-btn v-bind="attrs" outlined class="text-none" v-on="on">
            <v-icon left>mdi-account</v-icon>
            {{ user.name }}
          </v-btn>
        </template>
        <v-list dense>
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-logout-variant</v-icon>
            </v-list-item-icon>
            <v-list-item-title>登出</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-navigation-drawer v-model="nav" app>
      <app-nav />
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <router-view />
      </v-container>
    </v-main>
    <v-footer app padless>
      <app-footer />
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import { get } from 'vuex-pathify'
import AppSystemBar from '~/components/app/SystemBar.vue'
import AppNav from '~/components/app/Nav.vue'
import AppFooter from '~/components/app/Footer.vue'

export default Vue.extend({
  name: 'App',
  components: { AppNav, AppFooter, AppSystemBar },
  middleware: ['checkLogin'],
  data: () => ({
    nav: null
  }),
  computed: {
    user: get('user')
  }
})
</script>
