<template>
  <v-app>
    <app-system-bar v-if="$store.state.isElectron" />
    <v-app-bar app dark>
      <v-app-bar-nav-icon @click="nav = !nav" />
      镇海中学打印机管理系统
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <router-view />
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="nav" app>
      <v-list nav dense>
        <v-list-item to="/" nuxt>
          <v-list-item-avatar tile size="24">
            <v-icon>mdi-home</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>首页</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/help" nuxt>
          <v-list-item-avatar tile size="24">
            <v-icon>mdi-information-outline</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>帮助</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/changelog" nuxt>
          <v-list-item-avatar tile size="24">
            <v-icon>mdi-update</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>更新日志</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer app padless>
      <app-footer />
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import AppFooter from '~/components/app/Footer.vue'
import AppSystemBar from '~/components/app/SystemBar.vue'

export default Vue.extend({
  name: 'HelpLayout',
  components: { AppFooter, AppSystemBar },
  data: () => ({
    nav: null
  })
})
</script>
