<template>
  <v-app>
    <v-app-bar app dark dense>
      <v-spacer />
      <div class="text-button">镇海中学打印机管理系统</div>
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container class="fill-height">
        <router-view />
      </v-container>
    </v-main>
    <v-footer app padless>
      <app-footer />
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import AppFooter from '~/components/app/Footer.vue'

export default Vue.extend({
  name: 'LoginLayout',
  components: { AppFooter }
})
</script>
