<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>更新日志</v-card-title>
        <v-divider />
        <v-card-text>
          <div class="markdown-body">
            <div class="text-center">
              <v-img src="./img/icon.png" height="128" contain />
              <h1>ZPM - 镇海中学打印机管理系统</h1>
              <h3><code>A ZZisu::web Project</code></h3>
            </div>
          </div>
        </v-card-text>
        <v-divider />
        <v-card-text>
          <article class="markdown-body">
            <h2>UI - v1.1.1</h2>
            <p>更新帮助</p>
            <h2>UI - v1.1.0</h2>
            <p>提升屏幕截图速度，多处UI调整</p>
            <h2>Server - v1.0.1</h2>
            <p>增加了对远程获取维护信息(WMIC)的实验性支持</p>
            <h2>Desktop - v1.0.1</h2>
            <p>稳定性调优，内存优化。<b>请尽快更新客户端至此版本</b></p>
            <h2>UI, Server, Desktop - v1.0.0</h2>
            <p>首个稳定版本</p>
            <h2>UI, Server, Desktop v1.0.0之前版本</h2>
            <p>测试版本，更新内容略</p>
          </article>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import '~/styles/md.scss'

export default Vue.extend({
  name: 'ChangelogPage',
  layout: 'help',
  head: {
    title: '更新日志'
  }
})
</script>
