<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>帮助</v-card-title>
        <v-divider />
        <v-card-text>
          <div class="markdown-body">
            <div class="text-center">
              <v-img src="./img/icon.png" height="128" contain />
              <h1>ZPM - 镇海中学打印机管理系统</h1>
              <h3><code>A ZZisu::web Project</code></h3>
            </div>
          </div>
        </v-card-text>
        <v-divider />
        <v-card-text>
          <article class="markdown-body">
            <h1>概览</h1>
            <template v-if="!isElectron">
              <h2>准备</h2>
              <a href="./ca.crt" download>下载证书</a>
            </template>
            <h1>技术信息</h1>
            <ul>
              <li>UI: Vue.js 2, Nuxt 2, Vuex + vuex-pathify, Vuetify</li>
              <li>Desktop: Electron</li>
              <li>Server: Node.js, sqlite3</li>
            </ul>
            <h1>联系支持</h1>
            <p>Developer&amp;maintainer: ZhangZisu 张子苏</p>
            <ul>
              <li>email: i@zzs1.cn</li>
              <li>QQ: 2807616946</li>
              <li>WeChat: zhang2807616946</li>
            </ul>
            <v-row justify="center">
              <v-col cols="6">
                <v-img src="./img/alipay.jpg" max-height="400px" contain />
              </v-col>
              <v-col cols="6">
                <v-img src="./img/wepay.jpg" max-height="400px" contain />
              </v-col>
            </v-row>
          </article>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { get } from 'vuex-pathify'
import '~/styles/md.scss'

export default Vue.extend({
  name: 'HelpPage',
  layout: 'help',
  head: {
    title: '帮助'
  },
  computed: {
    isElectron: get('isElectron')
  }
})
</script>
