<template>
  <v-row justify="center">
    <v-col v-if="isOnDevice" cols="12">
      <v-card>
        <v-card-title>本机</v-card-title>
        <v-divider />
        <v-list dense>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>ID</v-list-item-title>
              <v-list-item-subtitle>
                {{ device.id }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>名称</v-list-item-title>
              <v-list-item-subtitle>
                {{ device.name }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider />
        <v-card-text>
          <v-row justify="space-around">
            <v-col cols="auto">
              <async-btn :handler="maintenanceMode" outlined color="primary">维护模式</async-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12">
      <v-card>
        <v-card-title>系统信息</v-card-title>
        <v-divider />
        <v-list dense>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>UI版本</v-list-item-title>
              <v-list-item-subtitle>
                {{ sysInfo.uiVersion }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>服务器版本</v-list-item-title>
              <v-list-item-subtitle>
                {{ sysInfo.srvVersion }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { APP_VERSION } from '~/misc/misc'
import AsyncBtn from '~/components/utils/AsyncBtn.vue'

export default Vue.extend({
  name: 'IndexPage',
  components: { AsyncBtn },
  data: () => ({
    sysInfo: {
      uiVersion: APP_VERSION,
      srvVersion: 'loading'
    },
    isOnDevice: false,
    device: {}
  }),
  async fetch() {
    await this.$toast.$wrap(async () => {
      const srv = await this.$axios.$get('/')
      this.sysInfo.srvVersion = srv.ver
      try {
        const { device } = await this.$axios.$get('/device/ping')
        this.device = device
        this.isOnDevice = true
      } catch (e) {
        this.isOnDevice = false
      }
    })
  },
  methods: {
    async maintenanceMode() {
      {
        const { ok, result } = await this.$axios.$post('/device/user/killps', {})
        if (!ok) throw new Error(result)
      }
      {
        const { ok, result } = await this.$axios.$post('/device/user/startexplorer', {})
        if (!ok) throw new Error(result)
      }
      return ''
    }
  }
})
</script>
