<template>
  <v-row justify="center">
    <v-col cols="12" md="6" lg="3">
      <v-card>
        <v-card-title>登录</v-card-title>
        <v-divider />
        <v-card-text>
          <v-text-field v-model="login" label="登录名" :disabled="$store.state.isElectron" />
          <v-text-field v-model="pass" label="密码" type="password" :disabled="isElectron" />
          <template v-if="isElectron">
            <v-row v-for="(row, i) of kb" :key="i" dense>
              <v-col v-for="(k, j) of row" :key="j" cols="4">
                <v-btn outlined block small :ripple="false" @click="inputPwd(k)">{{ k }}</v-btn>
              </v-col>
            </v-row>
          </template>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn v-if="isElectron" color="red" dark @click="electronCloseWindow"> 退出 </v-btn>
          <v-btn color="primary" :disabled="!allowLogin" :loading="loading" @click="submit"> 提交 </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { get } from 'vuex-pathify'
import { invoke, isElectron, safeInvoke } from '~/misc/electron'

export default Vue.extend({
  name: 'LoginPage',
  layout: 'login',
  middleware: ({ store, redirect }) => {
    if (store.state.login) {
      redirect('/')
    }
  },
  data: () => ({
    login: '',
    pass: '',
    loading: false,
    kb: [
      ['1', '2', '3'],
      ['4', '5', '6'],
      ['7', '8', '9'],
      ['`', '0', '⬅']
    ]
  }),
  head: {
    title: '登录'
  },
  computed: {
    allowLogin() {
      return this.login && this.pass
    },
    isElectron: get('isElectron')
  },
  mounted() {
    if (isElectron()) {
      safeInvoke('enterLogin')
      invoke('getCurrentUser')
        .then((user) => {
          this.login = user.login
        })
        .catch(() => {
          safeInvoke('forceClose')
        })
    }
  },
  methods: {
    async submit() {
      this.loading = true
      await this.$toast.$wrap(async () => {
        const token = await this.$axios.$post('/login', {
          login: this.login,
          pass: this.pass
        })
        this.$axios.setHeader('x-access-token', token)
        const user = await this.$axios.$get('/user')
        // @ts-ignore
        this.$store.set('login', true)
        // @ts-ignore
        this.$store.set('user', user)
        if (isElectron()) {
          safeInvoke('exitLogin')
        }
        await this.$router.replace('/')
      })
      this.loading = false
    },
    electronCloseWindow() {
      safeInvoke('forceClose')
    },
    inputPwd(k: string) {
      if (k === '⬅') {
        if (this.pass.length > 0) {
          this.pass = this.pass.substring(0, this.pass.length - 1)
        }
      } else {
        this.pass += k
      }
    }
  }
})
</script>
