$mono-font-family: 'Consolas', 'Courier New', Courier, monospace;

code,
kbd,
pre,
samp {
  font-family: $mono-font-family !important;
}

.uuid-display {
  font-family: $mono-font-family;
  font-size: 0.6rem;
}
